In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [58]:
df = pd.read_csv("ases.csv")

In [59]:
df.head(5)

,STUDY,YEAR,CONTROL POPULATION,CONTROL,95% CI (Lower),95% CI (Higher),TRIAL POPULATION,TRIAL,95% CI (Lower).1,95% CI (Higher).1,P VALUE
0,Lapner et al,2022,84,90.80,57.40,124.20,84,90.30,64.10,116.50,0.83
1,Randelli et al,2022,26,94.62,77.60,111.64,26,98.33,89.01,107.65,>.05
2,Hurd et al,2020,6,68.40,59.78,77.02,12,89.40,79.80,99.00,<0.05
3,Toro et al,2022,61,96.90,88.10,105.70,62,95.80,80.60,111.00,0.34
4,Chun et al,2022,8,54.70,14.50,94.90,8,58.90,34.70,83.10,0.46

In [60]:
# Extracting the Standard deviation for both the Control group

df['control_sd'] = (df["CONTROL"] - df['95% CI (Lower)'])/2

In [61]:
df.head()

,STUDY,YEAR,CONTROL POPULATION,CONTROL,95% CI (Lower),95% CI (Higher),TRIAL POPULATION,TRIAL,95% CI (Lower).1,95% CI (Higher).1,P VALUE,control_sd
0,Lapner et al,2022,84,90.80,57.40,124.20,84,90.30,64.10,116.50,0.83,16.70
1,Randelli et al,2022,26,94.62,77.60,111.64,26,98.33,89.01,107.65,>.05,8.51
2,Hurd et al,2020,6,68.40,59.78,77.02,12,89.40,79.80,99.00,<0.05,4.31
3,Toro et al,2022,61,96.90,88.10,105.70,62,95.80,80.60,111.00,0.34,4.40
4,Chun et al,2022,8,54.70,14.50,94.90,8,58.90,34.70,83.10,0.46,20.10

In [62]:
#  Extracting the SD for the Trial Group

df['trial_sd'] = (df["TRIAL"] - df['95% CI (Lower).1'])/2

In [63]:
df.head(2)

,STUDY,YEAR,CONTROL POPULATION,CONTROL,95% CI (Lower),95% CI (Higher),TRIAL POPULATION,TRIAL,95% CI (Lower).1,95% CI (Higher).1,P VALUE,control_sd,trial_sd
0,Lapner et al,2022,84,90.80,57.4,124.20,84,90.30,64.10,116.50,0.83,16.70,13.10
1,Randelli et al,2022,26,94.62,77.6,111.64,26,98.33,89.01,107.65,>.05,8.51,4.66

In [64]:
# Computing the pooled standard deviation for each study.

df["pooled_sd"] = np.sqrt((df["control_sd"] + df["trial_sd"])/2)

In [81]:
df.head(5)

,STUDY,YEAR,CONTROL POPULATION,CONTROL,95% CI (Lower),95% CI (Higher),TRIAL POPULATION,TRIAL,95% CI (Lower).1,95% CI (Higher).1,P VALUE,control_sd,trial_sd,pooled_sd,cohen,norm_weight
0,Lapner et al,2022,84,90.80,57.40,124.20,84,90.30,64.10,116.50,0.83,16.70,13.10,3.860052,-0.129532,0.445623
1,Randelli et al,2022,26,94.62,77.60,111.64,26,98.33,89.01,107.65,>.05,8.51,4.66,2.566125,1.445759,0.137931
2,Hurd et al,2020,6,68.40,59.78,77.02,12,89.40,79.80,99.00,<0.05,4.31,4.80,2.134245,9.839547,0.047745
3,Toro et al,2022,61,96.90,88.10,105.70,62,95.80,80.60,111.00,0.34,4.40,7.60,2.449490,-0.449073,0.326260
4,Chun et al,2022,8,54.70,14.50,94.90,8,58.90,34.70,83.10,0.46,20.10,12.10,4.012481,1.046734,0.042440

> **Calculating Cohen's d** for each study

> * Trial - Control.

> * positive = favours trial

> * negative = favours control

In [66]:
# Finally, we calculate the COHEN'S D

df["cohen"] = (df['TRIAL'] - df["CONTROL"])/df["pooled_sd"]

In [67]:
df["cohen"]

0   -0.129532
1    1.445759
2    9.839547
3   -0.449073
4    1.046734
Name: cohen, dtype: float64

> **Let's also calculate the study weights, just in case we need them** 

> * Of course we would need them

In [73]:
# Let's calculate the study weights first

s_weight = (df['CONTROL POPULATION'] + df['TRIAL POPULATION'])

s_weight_sum = s_weight.sum()

df["norm_weight"] = s_weight/s_weight_sum

In [74]:
df[["norm_weight", "CONTROL POPULATION"]]

   norm_weight  CONTROL POPULATION
0     0.445623                  84
1     0.137931                  26
2     0.047745                   6
3     0.326260                  61
4     0.042440                   8

In [77]:
df[["norm_weight", "pooled_sd"]]

   norm_weight  pooled_sd
0     0.445623   3.860052
1     0.137931   2.566125
2     0.047745   2.134245
3     0.326260   2.449490
4     0.042440   4.012481

In [78]:
df.head()

,STUDY,YEAR,CONTROL POPULATION,CONTROL,95% CI (Lower),95% CI (Higher),TRIAL POPULATION,TRIAL,95% CI (Lower).1,95% CI (Higher).1,P VALUE,control_sd,trial_sd,pooled_sd,cohen,norm_weight
0,Lapner et al,2022,84,90.80,57.40,124.20,84,90.30,64.10,116.50,0.83,16.70,13.10,3.860052,-0.129532,0.445623
1,Randelli et al,2022,26,94.62,77.60,111.64,26,98.33,89.01,107.65,>.05,8.51,4.66,2.566125,1.445759,0.137931
2,Hurd et al,2020,6,68.40,59.78,77.02,12,89.40,79.80,99.00,<0.05,4.31,4.80,2.134245,9.839547,0.047745
3,Toro et al,2022,61,96.90,88.10,105.70,62,95.80,80.60,111.00,0.34,4.40,7.60,2.449490,-0.449073,0.326260
4,Chun et al,2022,8,54.70,14.50,94.90,8,58.90,34.70,83.10,0.46,20.10,12.10,4.012481,1.046734,0.042440

In [80]:
# df.to_csv("ases_cohen.csv")